body {
  margin: 40px auto;
  max-width: 650px;
}


<<<<<<< HEAD

li{
    color: black;
    font-size: 18px;Y543ZAQ< b 
    list-style: none;
    margin: 40px 
       
=======
li {
  color: #92bcea;
  font-size: 18px;
  font-family: cursive;
  text-decoration: underline;
  list-style: square;
>>>>>>> 19ebd3fd27437dd5f2e53f4f6ee2cfe08270e78b
}

p {
  margin: 10px;
  padding: 30px;
  border: 1px solid black;
}

img {
  width: 100%;
}

.red {
  color: red;
}

.underline {
  text-decoration: underline
}

<<<<<<< HEAD
.red {
    color: red;
}
=======
















>>>>>>> 19ebd3fd27437dd5f2e53f4f6ee2cfe08270e78b
