body {
    margin: 40px auto;
    max-width: 650px;
}



li{
    color: black;
    font-size: 18px;Y543ZAQ< b 
    list-style: none;
    margin: 40px 
       
}
 
P {
    margin: 10px; 
    padding: 15px;
    border: 3px solid pink
}

img {
    height: 100%;
    width: 40%
 
    
}

.red {
    color: red;
}

.salim {
    color:aqua;
}

.underline {
    text-decoration:overline;
    
}

.div {
    background-color:beige;
    width: 500px;
    height: 500px;
    
}

.w-50 {
    background-color:chocolate;
    width: 50%;
    height: 50%;
}

.buttons {
    margin: 50px 0; 
    background-color: fuchsia;
    width: 100%;
    text-align: center; 
    
    
}